<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT_WEB</title>
</head>
<body>
    <h1>공지사항</h1>
    <div>
        <a href="{% url 'new' %}">글 작성하기</a>
    </div>
    <div class="container">
        {% if boards %}
        {% for post in boards %}
            <div>
                <h3><a href="{% url 'detail' post.id %}">{{post.title}}</a></h3>
                <h5>{{post.writer}}</h5>
                <h5>{{post.pub_date|date:'Y. m. d'}}</h5>
                <h5>{{post.hits}}</h5>
            </div>
        {% endfor %}
        {% else %}
        <h5>작성된 공지사항이 없습니다.</h5>
        {% endif %}
    </div>
    <div>
        {%if boards.has_previous%}
        <a href="?page=1">First</a>
        <a href="?page={{boards.previous_page_number}}">Previous</a>
        {%endif%}

        <span>{{boards.number}}</span>
        <span>of</span>
        <span>{{boards.paginator.num_pages}}</span>

        {%if boards.has_next%}
        <a href="?page={{boards.next_page_number}}">Next</a>
        <a href="?page={{boards.paginator.num_pages}}">Last</a>
        {%endif%}
    </div>
</body>
</html>