<div class="container">
    <a href="">Add Bookmark</a>

    <table>
        <thread>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Site</th>
                <th scope="col">URL</th>
                <th scope="col">수정하기</th>
                <th scope="col">삭제하기</th>
            </tr>
        </thread>
        <tbody>
            {% for bookmark in object_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="">{{bookmark.site_name}}</a></td>
                <td><a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a></td>
                <td><a href="">수정하기</a></td>
                <td><a href="">삭제하기</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>